# Database
# Replace this with your actual MongoDB Atlas connection string!
MONGODB_URI=mongodb+srv://pratik:<your_password>@cluster0.abcde.mongodb.net/finsight?retryWrites=true&w=majority

# Auth (These can be anything for local testing)
JWT_SECRET=super-secret-jwt-key-123
JWT_REFRESH_SECRET=super-secret-refresh-key-123
NEXTAUTH_SECRET=super-secret-nextauth-key-123
NEXTAUTH_URL=http://localhost:3000

# Optional Google OAuth (Leave blank for now)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API
API_PORT=4000
API_URL=http://localhost:4000
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000